<header>
    <div class="header-inner d-flex align-items-center justify-content-between">
        <div class="right-part">
            <a (click)="toggleSidebar()">
                <span>
                    <i class='bi bi-border-width font-26 text-gradient-primary'></i>
                </span>
            </a>
        </div>

        <div class="left-part w-100">
            <ul class="d-flex align-items-center justify-content-end px-4 m-0">
                <li class="profile-wrapper">
                    <span>

                        
                        <div mat-button [matMenuTriggerFor]="profile" class="profile d-flex align-items-center">
                            <div class="avatar">
                                <img src="assets/images/faces/face1.jpg" alt="">
                            </div>
                           
                            <div class="name">
                                <div class="d-flex">
                                    <h3 class="m-0">{{ Localize.isEnglish() ? profileModel?.nameEn :
                                        profileModel?.nameAr }}</h3>
                                    <i class="bi bi-arrow-down-circle-fill text-gradient-primary  font-20"></i>
                                </div>

                            </div>
                        </div>

                        <mat-menu #profile="matMenu">
                           
                            <mat-list role="list">
                                <div style=" text-align: center;">
                                 <p style="font-size:20px;">{{'ScreenName.hello' | translate }}  &nbsp; Admin</p>
    
                                </div>
                            </mat-list>
                        </mat-menu>
                    </span>
                </li>




                <li>
                    <span>
                        <button mat-button [matMenuTriggerFor]="language">{{ 'HOME.SELECT' | translate}}
                            <i class='bi bi-arrow-down-circle-fill text-gradient-primary font-20'></i>
                        </button>
                        <mat-menu #language="matMenu">
                            <div *ngIf="Localize.isEnglish()"
                                class="d-flex justify-content-center alig-items-center p-2 drop-item"
                                (click)="setLanguage('ar')">
                                <span class="mt-2">العربية</span>
                                <img mat-menu-item class="language-icon" src="assets/images/kw-flag.png">
                            </div>

                            <div *ngIf="!Localize.isEnglish()"
                                class="d-flex justify-content-center alig-items-center p-2 drop-item"
                                (click)="setLanguage('en')">
                                <span class="mt-2">English</span>
                                <img mat-menu-item class="language-icon" src="assets/images/us-flag.png">
                            </div>
                        </mat-menu>
                    </span>
                </li>


                <!-- <li class="mx-3">
                    <span>
                        <i class='bi bi-house-fill text-gradient-warning font-20'></i>
                    </span>
                </li> -->
                <li class="mx-3">
                <div class="d-flex flex-row align-items-center justify-content-end p-2 drop-item"
                (click)="logout()">
                <i class='bi bi-box-arrow-left text-gradient-warning font-24'></i>
                    {{ 'main.logout' | translate }}
                </div>
               </li>

            </ul>
        </div>
    </div>
</header>