
<span [class]="'selectDropDown'+propId">
    <ng-select 
    [id]="propId"
    [disabled]="disabledCondition"  #myselect [items]="itemsData"  
    [(ngModel)]="selectedValue" 
    [bindLabel]="name1" 
    [bindValue]="id" 
    class="ngSelect"
        [appendTo]="'.selectDropDown'+propId"
        [placeholder]="placeholder" 
        [searchable]="isSearchable" 
        [multiple]="isMultiple"
        [virtualScroll]="isVirtualScroll" 
        [loading]="loading"
        (change)="itemSelected($event)"
        (scrollToEnd)="onScrollToEnd()" 
        [typeahead]="InputSearch$" 
        [notFoundText]="'noEmployeefound'| translate"> 

        <ng-template *ngIf="hasTemplate" ng-option-tmp let-item="item" let-search="searchTerm">
            <div>
                <div class="row" [class.OutOff]="!item.isActive" [class.right] ="localize.lang === 'ar'" style="color: #3f51b5; font-size: medium; ">
                    <div class="col-sm-3 border" >{{item.code}}</div>
                    <div class="col-sm-9 border text-wrap">{{localize.lang =='ar' ? item.nameSl : item.nameFl}}</div>
                </div>
            </div>
        </ng-template>
    </ng-select>
</span>