<div class="sidebar">
  <div class="logo mb-3 text-center">
    <h1 class="font-24 font-weight-bold text-gradient-primary">{{ 'TITLE' | translate}}</h1>
  </div>
  <div class="brand mb-3 d-flex align-items-center justify-content-center">
    <div class="brand-img">
      <img src="assets/images/biglogo.png" alt="">
    </div>
  </div>
  <div class="sidebar-nav">
    <ul>
   

      <li class="collapse-wrapper">
        <a href="javascript:" class="d-flex align-items-center parent justify-content-between" (click)="setActive('Lookups')">
          <span>
            <i class='bi bi-card-list text-gradient-primary'></i>
          </span>
          <span class="nav-link">{{ 'menu1' | translate}}</span>
          <span class="nav-link">
            <i class='bi bi-caret-down-square text-gradient-primary font-26'></i>
          </span>
        </a>
        <div class="contentCollapsed" setRtl [ngClass]="{'showContent': activeTab === 'Lookups'}">
          <div class="d-flex flex-column">
            <a  routerLinkActive="active" #departments="routerLinkActive">
              <span class="nav-link">{{'ScreenName.DepartmentsComponent' | translate }}</span>
            </a>
            <a  routerLinkActive="active" #locations="routerLinkActive">
              <span class="nav-link">{{'ScreenName.LocationsComponent' | translate }}</span>
            </a>
        


              

          </div>
        </div>
      </li>
      <li class="collapse-wrapper">
        <a href="javascript:" class="d-flex align-items-center parent justify-content-between" [ngClass]="{
          'active':  employees?.isActive
          || employeeAttendances?.isActive
          }" (click)="setActive('Usermanagement')">
          <span>
            <i class='bi bi-people-fill text-gradient-primary'></i>
          </span>
          <span class="nav-link">{{ 'menu2' | translate}}</span>
          <span class="nav-link">
            <i class='bi bi-caret-down-square text-gradient-primary font-26'></i>
          </span>
        </a>
        <div class="contentCollapsed" setRtl [ngClass]="{'showContent': activeTab === 'Usermanagement'}">
          <div class="d-flex flex-column">
            <a [routerLink]="['/main/usermanagement/employees']" routerLinkActive="active" #employees="routerLinkActive">
                <span class="nav-link">{{'ScreenName.EmployeesComponent' |translate }}</span>
            </a> 
          
            <a [routerLink]="['/main/attendance/employee-manual-logs']" routerLinkActive="active" #employeeAttendances="routerLinkActive">
              <span class="nav-link">{{'ScreenName.EmployeeAttendancesComponent' | translate }}</span>
            </a>

          </div>
        </div>
      </li>

   

    </ul>
  </div>
</div>



