<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
    <app-dialogheader [text]="'employeeLogManual.employeeLogManual'" (onclick)="onNoClick('Close')">
    </app-dialogheader>
    <mat-card  class="example-container">
        <mat-dialog-content class="mat-typography" [formGroup]="form">
        <div class="example-container">
            <div class="col-md-12">
                <app-select [url]="'Employees/GetDropdownList'" [disabledCondition]="isDisable" formControlName="employeeId"
                [name]="'field.fullName' | translate" [isSearchable]="true" [hasTemplate]="true" [isMultiple]="false"
                [placeholder]="'employeeSelect' | translate" (cancelEvent)="onEmployeeCancel()"></app-select>
            </div>
            <div>
                <app-mat-datepicker-shared 
                [parentForm]="form"
                [lblName]= "'employeeLogManual.logDate' | translate"   
                [required]="true" 
                [title]="'lookup.tooltip' | translate"   
                [matDatepicker]="'startDatePicker'"
                [namecontrol]="'dayDate'"
                >
                </app-mat-datepicker-shared> 
            </div>

            <mat-form-field appearance="outline" > 
                <input required title="{{'lookup.tooltip' | translate}}" matInput type="time" formControlName="signInTime" placeholder="{{'employeeLogManual.logIn' | translate}}">
            </mat-form-field>
            <mat-form-field appearance="outline" > 
                <input  title="{{'lookup.tooltip' | translate}}" matInput type="time" formControlName="signOutTime" placeholder="{{'employeeLogManual.logOut' | translate}}">
            </mat-form-field>
            
        </div>
        </mat-dialog-content>
    </mat-card>  
    <app-save-and-close [form]="form" (close)="close($event)">
    </app-save-and-close>
  </div>