
<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
    <app-dialogheader [text]="'employees.personalEmployeeData'" (onclick)="onNoClick('Close')"></app-dialogheader>
    <mat-dialog-content class="mat-typography" [formGroup]="form" novalidate > 
      <div class="example-container">
        <div class=row>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{'employees.employeeNumber' | translate}}</mat-label>
                <input [readonly]="!isNew" autocomplete="off" matInput formControlName="code" required title="{{'lookup.tooltip' | translate}}">
              </mat-form-field>
          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>{{'employees.nameFl' | translate}}</mat-label>
            <input autocomplete="off" matInput formControlName="nameFl" required title="{{'lookup.tooltip' | translate}}">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>{{'employees.nameSl' | translate}}</mat-label>
            <input autocomplete="off" matInput formControlName="nameSl" required  title="{{'lookup.tooltip' | translate}}">
          </mat-form-field>
        </div>

        <div class=row>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>{{'employees.email' | translate}}</mat-label>
          <input autocomplete="off" matInput formControlName="email" title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>{{'employees.address' | translate}}</mat-label>
          <input autocomplete="off" matInput formControlName="address"  title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>{{'employees.phone' | translate}}</mat-label>
          <input autocomplete="off" matInput formControlName="phoneNumber"  title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>
      </div>
        <!-- <div class=row>
         
      
        </div> -->
        <div class=row>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{'employees.country' | translate}}</mat-label>
                    <mat-select required  title="{{'lookup.tooltip' | translate}}" formControlName="countryId">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let item of countries" [value]="item.id">
                        {{  item.nameFl }}</mat-option>
                    </mat-select>
              </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{'employees.gender' | translate}}</mat-label>
                    <mat-select required  title="{{'lookup.tooltip' | translate}}" formControlName="genderId">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let item of genders" [value]="item.id">
                        {{ item.nameFl }}</mat-option>
                    </mat-select>
              </mat-form-field>

              <div>
                <app-mat-datepicker-shared 
                [parentForm]="form"
                [lblName]= "'employees.birthDate' | translate"   
                [required]="true" 
                [title]="'lookup.tooltip' | translate"   
                [matDatepicker]="'startDatePicker'"
                [namecontrol]="'birthDate'"
                >
                </app-mat-datepicker-shared> 
            </div>
             
        </div>

        <br>

        <div class="row">
              <mat-checkbox appearance="outline" (change)="onCheckChange($event,'managerId')" class="col-md-3" formControlName="hasManager">
                {{'employees.hasManager' | translate}}
              </mat-checkbox>
               <div appearance="outline" class="col-md-9" > 
                <app-select [url]="'Employees/GetDropdownList'" [disabledCondition]="!this.form.get('hasManager').value" formControlName="managerId"
                [name]="'field.fullName' | translate" [isSearchable]="true" [hasTemplate]="true" [isMultiple]="false"
                [placeholder]="'employeeSelect' | translate" (cancelEvent)="onEmployeeCancel()"></app-select>
               </div>

              <!-- <mat-form-field  appearance="outline" class="col-md-3" > 
                <mat-label>{{'employees.smartCardNumber' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="smartCardNumber"  title="{{'lookup.tooltip' | translate}}" [readonly]="!this.form.get('isUseSmartCard').value">
              </mat-form-field> -->
        </div>
       
        
      </div>
    </mat-dialog-content>
  
    <app-save-and-close [form]="form" (close)="closeConfirmation($event)"></app-save-and-close>
  
  </div>